/* #############
   ###OVERALL###
   ############# */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  html {
      --degradient: linear-gradient(90deg, rgb(245, 29, 184) 0%, rgb(104, 2, 145) 100%);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif
}


.App-header {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 4px 7px 1px rgb(68, 25, 63);


}

.showHeader {
  animation-name: moveHeadUp;
  animation-duration: 6s;
  position: relative;
  animation-direction: initial;

}

@keyframes moveHeadUp {
  0% {
    left: 0px;
    top: -300px
  }

  50% {
    left: 0px;
    top: 0px;

  }


}

h2 {
  font-size: 30px;
  background-image: linear-gradient(0deg, rgba(155, 10, 92, 0.998) 0%, rgb(59, 50, 128) 80%);
  color: transparent;
  background-clip: text;
}

footer {
  background: var(--degradient);
  color: black;
  height: 1.5rem;
  margin-bottom: 0px;
}