.about {
    margin:2rem 5rem;
    display: flex;
    flex-direction: column;
    gap:1rem
   
}

.about-me {
box-shadow: 1px 0px 6px 1px grey;
    align-self: flex-start;
   
 }
.about-me p, .about-code p, .profile{
    height: 200px;
    width: 200px;
}

.about-code {
  box-shadow: 1px 0px 6px 1px grey;
    align-self: flex-end;
   
   
}
