.imgsEducation {
    width: 90px;
    height: 70px;
    object-fit: contain;

}

.education {
    margin: 2rem;
}

.education main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 3rem;
}

.educationCard {
    width: 200px;
    height: 300px;
    position: relative;

}

.education-dam figure {
    text-align: start;
}

.education-bootcamp figure {
    text-align: end;
}

.educationCard-content {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    color: aliceblue;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    border-radius: 1rem;
    backface-visibility: hidden;
    user-select: none;
    box-shadow: 0px 1px 4px 1px grey;
    background-image: linear-gradient(0deg, rgba(79, 76, 78, 0.998) 0%, rgb(123, 3, 89) 100%);

}

.back {

    transform: rotateY(180deg);
}

.educationCard.flipped .educationCard-content {
    transform: rotateY(180deg);
    transition: transform 1s;
}

h3,
.text {
    flex-grow: 1;
    margin-top: 50px;
    background-color: rgb(18, 17, 18);
}

.buttonCard {
    width: 30px;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-size: 25px;

}

.listSkills {
    padding: 1rem  1rem 1.5rem 3rem;
    height: 100%;
    text-align: start;

}