@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

.doors {
    display: flex;
}

.container-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-bg.none {
    display: none;
}


.doors-doorLeft,
.doors-doorRigth {
    display: inline-block;
    height: 300px;
    width: 200px;
    box-shadow: 1px 4px 4px 4px grey;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 8rem 0;
    background-size: cover;


}

.doors-doorRigth {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 7rem;
}

.doors-doorLeft {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 7rem;
}

.pomo {
    font-size: 30px;
    margin-left: 66px;
    position: absolute;
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.2em black
}

.doors-doorLeft.open {
    animation-name: doorLeft;
    animation-duration: 3s;
    position: relative;

}

@keyframes doorLeft {
    from {
        right: 0px;
    }

    to {

        right: 600px;
    }
}

.doors-doorRigth.open {
    animation-name: doorRigth;
    animation-duration: 3s;
    position: relative;
}

@keyframes doorRigth {
    from {
        left: 0px;
    }

    to {
        left: 600px;
        display: none;
    }
}
@media (max-width: 430px) {
    .doors-doorLeft,
        .doors-doorRigth {
            height: 250px;
            width: 150px;
            /* font-size: 10px; */
            padding: 6rem 0;
        }
                .pomo {
                 
                    margin-left: 127.5px;
                    
                }
}