.mailer,
.maintenance {
    min-height: 400px;
    width: 300px;
    margin: 5rem auto;
    box-shadow: 1px 4px 8px 8px rgb(75, 2, 58);
    background-color: black;
    color: white;

}

form {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 1rem;

}

form input,
textarea {
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: solid 3px rebeccapurple;
    background-color: transparent;
    color: aliceblue;
    padding: 0 0.5rem;
    font-size: 18px;
}

form textarea {
    height: 60px;
}

form input:focus,
form textarea:focus {
    outline: none;
    background: linear-gradient(90deg, rgb(69, 68, 69) 0%, rgb(21, 20, 21) 100%);
}

form button {
    margin-top: 1rem;
    height: 30px;
    width: 100px;
    align-self: center;
    border: none;
    background: var(--degradient);
    border-radius: 4px;
    color: aliceblue;
    font-size: 18px;
}

.messageEmailSend {
    margin-top: 1rem;

}

/* .bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--degradient);
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .mailer {
    box-shadow: 1px 4px 8px 8px rgb(75, 2, 58);
    background-color: black;
    color: white;
    padding: 20px;
} */