.maintenance {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    padding: 1rem;
}

.maintenance footer a {
    color: white;
    text-decoration: none;
}