nav.showNav {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        animation-name: showNav;
        position: relative;
        animation-duration: 3s;
        font-family:sans-serif
}

@keyframes showNav {
        from {
                top: -200px
        }

        to {
                top: 0;
        }
}

.nav-menu,
.menuSocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 1rem;

}

.nav-menu li {
        width: 100px;
        height: 30px;
        font-size: 20px;

}

.nav-menu li a {
        text-decoration: none;
        color: azure;
        padding: 0.5rem;

}

li a.active {
        box-shadow: 1px 2px 8px 1px grey;
        border-radius: 15px;
}

.menuSocialMedia li a, .mailIcon{
        background-position: center;
        background-size: cover;
        height: 2.7rem;
        width: 2.7rem;
        display: block;
        font-size: 0;
}

.mailIcon {
        background-image: url('../../images/email.png');
        display: inline-block;
}